html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.w-layout-grid{
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
	color: white;
}

.div-block {
  display: block;
  width: 50vw;
  height: 100vh;
  font-family: sans-serif;
  overflow:scroll;
}

.grid {
  margin-top: 4vw;
  margin-left: 4vw;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

ul{
	list-style: none;
	
}